body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.contact h2{
  font-size: 2.5rem;
  color: #af480c;
}
.contact p{
  margin-top: 50px;
  font-size: 1.5rem;

}

.card-contact-container{
  color: white;
  background-color: #38580e;
  border-radius: 10px;             
}

.contact-group {
  position: relative;
  margin-bottom: 2rem;
}

.contact-group label {
  position: absolute;
  left: 0;
  top: 0;
  transition: top 0.3s, font-size 0.3s;
  font-weight: bold;
}

.contact-group input:focus + label,
.contact-group input:not(:placeholder-shown) + label {
  top: -1.2em;

}

.contact-group textarea:focus + label,
.contact-group textarea:not(:placeholder-shown) + label {
  top: -1.2em;

}

.contact-group input, textarea{
  width: 100%;
  padding: 0.5em;
  color: white;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #bae286a8; 
  outline: none;
}

.contact-group .error{
  border-bottom: 2px solid red;
}


.form-contact button{
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 10px;
  margin-bottom: 30px;
  background-color: #af480c;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}

.form-contact button:hover{
  background-color: #bae286a8;
  color: #172A3A;
}

.info-container-contact{
  color: #172A3A;
  background-color: #bae286a8;
  height: 330px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.8em;
}

.info-container-contact ul{
  list-style: none;
  margin: 20px;
}
.info-container-contact h2{
  margin: 20px;
  font-weight: bold;
  color: #172A3A;
  font-size: 1.8rem;
}
.info-container-contact ul li{
  margin: 10px;
  font-size: 1.2rem;
}



