:root {
  --caribbean-current: #143e3e;
  --jungle-green: #49a078ff;
  --cambridge-blue: #9cc5a1ff;
  --ut-orange: #ff8811ff;
  --platinum: #dce1deff;
}
.filtro {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
.lista-subcategorias {
  margin: 0px;
  padding: 0;
  width: 55%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 1px solid var(--ut-orange);
}

.lista-subcategorias li {
  margin: 15px;
  font-size: large;
  color: var(--jungle-green);
}
.categoria {
  max-width: 80%;
  margin: 40px auto 100px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.contenedor-producto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid rgba(0, 0, 0, 0.336);
  margin-bottom: 5%;
}



.header-producto {
  padding: 5% 5% 0 5%;
  color: var(--caribbean-current);
}

.nombre-producto{
  font-size: 18px;
}


.contenedor-img-producto {
  /* height: 70%; */
  width: 100%;
  height: 350px;
}

.contenedor-img-producto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  transition: .5s ease-in-out;
}


.contenedor-img-producto img:hover{
  padding: 10px;
  border: 2px solid var(--ut-orange);

}

.contenedor-addCart button {
  width: 100%;
  height: 50px;
  border: none;
  color: var(--caribbean-current);
  background-color: var(--platinum);
  font-weight: 550;
}
.contenedor-addCart button:hover {
  color: var(--platinum);
  background-color: var(--caribbean-current);
}

/* Carrito */

.cajaBtn{
  z-index: 1;
}
.cart{
  position: fixed;
  top: 0;
  right: 0;
  right: -100%;
  width: 360px;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;
  background: #143e3e;
  box-shadow: -2px solid 4px hsl(0 4%, 15% / 10%);
  border: 1px solid var(--ut-orange);
  transition: 1.7s;
  z-index: 1;
}

.cart.active{
  right: 0;
  transition: .5s;

}

.cart-title{
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 2rem;

}

.cart-box{
  display: grid;
  grid-template-columns: 32% 50% 18%;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.cart-quantity{
  border: 1px solid var(--caribbean-current);
  outline-color: var(--ut-orange);
  width: 1.4rem;
  text-align: center;
  font-size: 1rem;
}

.cart-remove{
  font-size: 24px;
  color: var(--ut-orange);
  cursor: pointer;
}

.total{
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
  border-top: 1px solid var(--ut-orange);
}

.total-title{
  font-size: 1rem;
  font-weight: 600;
}

.total-price{
  margin-left: .5rem;
}

.btn-buy{
  display: flex;
  margin: 1,5rem auto 0 auto;
  padding: 12px 20px;
  border: none;
  background-color: #143e3e;
  color: aliceblue;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

#cart-close{
  position: absolute;
  top: 1rem;
  right: .8rem;
  font-size: 2rem;
  color: var(--platinum);
  cursor: pointer;
}
