:root{
  --caribbean-current: #143E3E; 
  --jungle-green: #49a078ff; 
  --cambridge-blue: #9cc5a1ff; 
  --ut-orange: #ff8811ff; 
  --platinum: #dce1deff;
}

/* Esquema del contenedor */
.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 

.contact-container .contact{
  background-color: var(--caribbean-current);
  width: 90vw;
  border-radius: 50px;
  padding: 0px;
  position: relative;
}

.contact-container .container-logo{
  display: flex;
  align-items: start;
  justify-content: center;
  padding: 20px 0px 0px 50px;
}

.container-logo img{
  height: 7rem;
}

.contact .container-gris{
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: var(--ut-orange);
}

.contact-container .card-contact-container {
  color: var(--platinum);
  padding-top: 60px;
  margin-left: 40px;
  margin-right: 40%;
} 

/* contact header  */
.contact h2 {
  font-weight: bold;
  font-size: 1.8rem;
  color: var(--platinum);
  letter-spacing: 2px;
}
.contact p {
  display: none;
  font-size: 1rem;
}   

/* formulario  */
.form-contact {
  margin-top: 50px;
  margin-bottom: 50px;
}

.contact-group {
  position: relative;
  margin-bottom: 2rem;
} 

/*animación label */
.contact-group label {
  position: absolute;
  left: 0;
  top: 0;
  transition: top 0.3s; 
  font-size: 1.2rem;
  font-weight: bold;
}

.contact-group input:focus + label,
.contact-group input:not(:placeholder-shown) + label {
  top: -1.2em;
}

.contact-group textarea:focus + label,
.contact-group textarea:not(:placeholder-shown) + label {
  top: -1.2em;
}

.contact-group input,
textarea {
  width: 100%;
  padding: 0.5em;
  color: var(--platinum);
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #9CC5A1;
  outline: none;
}  

/*estilo y animación cuando hay erorr */
.contact-group .error {
  border-bottom: 2px solid #E74C3C;
}

.contact-group input.error + label,
.contact-group textarea.error + label {
  top: -1.2em;
}

.form-contact button {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 10px;
  margin-bottom: 30px;
  background-color: var(--platinum);
  color: var(--caribbean-current);
  font-size: 1.2rem;
  font-weight: bold;
}

.form-contact button:hover {
  background-color: #FF8811;
  color: #1b1b1d;
} 

/* Contenedor info */

.contact .info-container-contact {
  color: var(--caribbean-current);
  height: 400px;
  background-color: var(--platinum);
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  position: absolute;
  top: 17%;
  right: 0%;
  max-width: 40%;
}

.info-container-contact h2 {
  color: var(--caribbean-current);
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 10px;
}

.info-container-contact .item-info-contact{
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
} 
.info-container-contact .item-info-contact i{
  font-size: 2rem;
  margin: 10px 10px 10px 0px;
} 

.info-container-contact .item-info-contact a {
  color: var(--caribbean-current);
  transition: all 0.3s ease;
  text-decoration: none;
} 


/* Adaptable responsivo */

/* ESCITORIO NORMAL */
@media (min-width: 991px) {

}

/* Escritorios anchos */
@media (min-width: 1200px) {

}

/* MOBILE */
@media screen and (max-width: 767px) {
  
}

/* TABLET */
@media (min-width: 767px) and (max-width: 991px) {

}