
#navbar-container,
#navbar-container * {
  margin: 0;
}

/* body {
  margin: 0;
  width: 100%;
  font-family: "Montserrat", sans-serif;
} */

.cajaMarca {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1%;
  background-color: #ff8811ff;
  max-height: 80px;
}

.logoContainer img {
  width: 75px;
  height: 70px;
}

.titleAgon {
  font-size: 1.5rem;
  color: black;
  font-family: "Montserrat", sans-serif;
}

.contenedor-interno{
  background-color: #143E3E;
  display:flex; 
  flex-direction:row; 
  align-items:center; 
  justify-content:start;
}


.lista {
  align-items: center;
  display: flex;
  justify-content: end;
  margin:0;
}

.botonesContainer{
  background-color: #ff8811ff;
}

.cajaBotonesContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction:row-reverse;
  width: 100%;
  height: 100%;
}

.cajaBtn {
  font-size: 120%;
  text-align: center;
}

.cajaBtn i{
  color:black;
}


/* Animacion barra de busqueda */

.contenedor-box{
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  flex-direction: column;
  align-content: center;
  padding-left: 30px;
}
.box{
  position: relative;
}

.input {
  padding: 10px;
  width: 50px;
  height: 50px;
  background: none;
  border: 4px solid #ff8811ff;
  border-radius: 50px;
  box-sizing: border-box;
  font-family: 'Montserrat',sans-serif;
  font-size: 18px;
  color: rgb(0, 0, 0);
  outline: none;
  transition: .6s;
  box-shadow: 0 0 10px #ff8811ff;
}
.box:hover input{
  width: 200px;
  background: #dce1deff;
  border-radius: 10px;
}
.box i{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 20px;
  color: #ff8811ff;
  transition: .2s;
}
.box:hover i{
  opacity: 0;
  z-index: -1;
}

/* Menu desplegable con custom property */
.lista-item {
  list-style: none;
  position: relative;
  height: 100%;
  --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
  --transform: rotate(-90deg);
}

.lista-item:hover {
  --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  --transform: rotate(0);
}

.arrow {
  display: block;
  margin-left: 3px;
  transform: var(--transform);
  transition: transform 0.3s;
}

.lista-nesting {
  list-style: none;
  position: absolute;
  right: 0;
  bottom: 0;
  width: max-content;
  transform: translateY(100%);
  clip-path: var(--clip);
  transition: clip-path 0.3s;
  background-color: blue;
}

.lista-link {
  color: white;
  text-decoration: none;
  display: flex;
  height: 100%;
  align-items: center;
}

.lista-link:hover {
  color: red;
}

.lista-link--inside {
  padding: 30px 100px 30px 20px;
}

.lista-link--inside:hover {
  background-color: aliceblue;
}

.lista-item--active {
  --transform: rotate(0);
  --background: aliceblue;
}

.lista-item--show {
  background-color: var(--background);
}

.lista-hamburger {
  display: flex;
  align-items: center;
  padding: 0 15px;
  cursor: pointer;
  display: none;
  background-color: #ff8811ff;
  
}

.hamburger-img {
  display: block;
  width: 36px;
}

@media screen and (max-width: 768px) {
  .lista-hamburger {
    display: flex;
  }

  .lista-item {
    --clip: 0;
    overflow: hidden;
  }

  .lista {
    position: fixed;
    max-width: 250px;
    width: 100%;
    top: 80px;
    bottom: 0;
    right: 0;
    background-color: green;
    overflow-y: auto;
    display: grid;
    grid-auto-rows: max-content;
    transition: transform 0.5s;
    transform: translateX(100%);
    z-index: 1000;
  }

  .lista--show {
    transform: unset;
    width: 100%;
  }

  .lista-link {
    padding: 25px 0;
    padding-left: 25px;
    height: auto;
    width: 400px;
  }

  .arrow {
    margin-left: auto;
    margin-right: 20px;
  }

  .lista-nesting {
    display: grid;
    position: unset;
    width: 100%;
    transform: translateY(0);
    height: 0;
    transition: height 0.3s;
  }

  .lista-link--inside {
    width: 90%;
    margin-left: auto;
    border-left: 1px solid violet;
  }
}


