:root{
  --caribbean-current: #143E3E; 
  --jungle-green: #49a078ff; 
  --cambridge-blue: #9cc5a1ff; 
  --ut-orange: #ff8811ff; 
  --platinum: #dce1deff;
}

  #navbar-container, 
  #navbar-container * {
    margin: 0;
  }
  

.contenedor-navbar{
  position: sticky;
  width:100%;
  z-index: 2000;
}

.contenedor-navbar .cajaMarca {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1%;
  background-color: #ff8811ff;
  max-height: 80px;
}

.contenedor-navbar .logoContainer img {
  width: 75px;
  height: 70px;
}

.contenedor-navbar .titleAgon {
  font-size: 1.5rem;
  color: black;
  font-family: "Montserrat", sans-serif;
}

.contenedor-navbar .contenedor-interno{
  background-color: #143E3E;
  display:flex; 
  flex-direction:row; 
  align-items:center; 
  justify-content:start;
}


.lista-navbar {
  font-weight: 450;
  align-items: center;
  display: flex;
  justify-content: end;
  margin:0;
}

.contenedor-navbar .botonesContainer{
  background-color: #ff8811ff;
  align-items: center;
  padding-right: 0;
  padding-left: 0;
}

.contenedor-navbar .cajaBotonesContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction:row-reverse;
  width: 100%;
  height: 100%;
  column-gap: 8px;
}

.contenedor-navbar .cajaBtn {
  font-size: 33px;
}

.contenedor-navbar .cajaBtn i{
  color:black;
}

.contenedor-navbar .cajaBtn .fa-circle-user{
  padding-top: 10px;
}



/* Animacion barra de busqueda */

.contenedor-navbar .contenedor-box{
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  flex-direction: column;
  align-content: center;
  padding-left: 30px;
}

.contenedor-navbar .contenedor-box .box{
  position: relative;
}

.contenedor-navbar .contenedor-box input{
  padding: 10px;
  width: 50px;
  height: 50px;
  background: none;
  border: 4px solid #ff8811ff;
  border-radius: 50px;
  box-sizing: border-box;
  font-size: 18px;
  color: rgb(0, 0, 0);
  outline: none;
  transition: .6s;
  box-shadow: 0 0 10px #ff8811ff;
}

.contenedor-navbar .contenedor-box .box:hover input{
  width: 200px;
  background: #dce1deff;
  border-radius: 10px;
}

.contenedor-navbar .contenedor-box .box i{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 20px;
  color: #ff8811ff;
  transition: .2s;
}

.contenedor-navbar .contenedor-box .box:hover i{
  opacity: 0;
  z-index: -1;
}

/* Menu desplegable con custom property */
.contenedor-navbar .lista-navbar-item {
  list-style: none;
  position: relative;
  height: 100%;
  --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
  --transform: rotate(-90deg);
}

.contenedor-navbar .lista-navbar-item:hover {
  --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  --transform: rotate(0);
}

.contenedor-navbar .arrow {
  display: block;
  margin-left: 3px;
  transform: var(--transform);
  transition: transform 0.3s;
}

.lista-navbar-nesting {
  list-style: none;
  position: absolute;
  padding: 0;
  right: 0;
  bottom: 0;
  width: max-content;
  transform: translateY(100%);
  clip-path: var(--clip);
  transition: clip-path 0.3s;
  background-color: rgba(110, 128, 117, 0.811);
}

.lista-navbar-link {
  color: white;
  text-decoration: none;
  display: flex;
  height: 100%;
  width: 100%;
}

.lista-navbar-link:hover {
  color: var(--ut-orange);
}

.lista-navbar-link--inside {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 25px;
}

.lista-navbar-link--inside:hover {
  background-color: var(--ut-orange);
  color: black;
}

.lista-navbar-item--active {
  --transform: rotate(0);
  --background: var(--ut-orange);
}

.lista-navbar-hamburger {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  cursor: pointer;
  display: none;
  background-color: #ff8811ff;
}

.hamburger-img {
  display: block;
  width: 36px;
}

@media screen and (max-width: 991px) {

  .contenedor-navbar .contenedor-interno{
    background-color: transparent;
  }

  .contenedor-navbar {
    position: fixed; 
    z-index: 2000;
  }

  .contenedor-navbar .contenedor-box{
    padding: 5px 0px 0px 5px;
  }

  .contenedor-navbar .contenedor-box input{
    background-color: white;
  }
  
  
  .contenedor-navbar .cajaBotonesContainer {
    column-gap: 5px;
  }
  
  .lista-navbar-hamburger {
    display: flex;
  }

  .lista-navbar-item {
    --clip: 0;
    overflow: hidden;
  }

  .lista-navbar {
    position: fixed;
    max-width: 250px;
    width: 100%;
    top: 78px;
    bottom: 0;
    right: 0;
    background-color: #143e3ee1;
    overflow-y: auto;
    display: grid;
    grid-auto-rows: max-content;
    transition: transform 0.5s;
    transform: translateX(100%);
  }

  .lista-navbar--show {
    transform: unset;
    width: 100%;
  }

  .lista-navbar-link {
    padding: 25px 0;
    padding-left: 25px;
    height: auto;
    width: 400px;
  }

  .arrow {
    margin-left: auto;
    margin-right: 20px;
  }

  .lista-navbar-nesting {
    display: grid;
    position: unset;
    width: 100%;
    transform: translateY(0);
    height: 0;
    transition: height 0.3s;
    width: 100%;
    margin-left: auto;
  }

  .lista-navbar-link--inside {
    justify-content: start;
    width: 100%;
  }

  .contenedor-navbar .cajaBtn {
    font-size: 25px;
  }
}


