/* ESTILOS GENERALES */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Contenedor informacion */
.info-container {
  padding: 40px;
  text-align: center;
}
.info-container p {
  margin-top: 20px;
  font-size: 1rem;
}

.info-container h1 {
  color: #38580e;
  font-size: 1.8rem;
}

/* CONFIGURACION CARDS */

.cards-team-container {
  background-color: #cbd5d2;
  margin-bottom: 100px;
  padding-inline: 50px;
  color: white;
  text-align: center;
}

.card-teammate img{
  height:40vh;
  object-fit: cover;
}

.cards-team-container .card-teammate {
  color: white;
  font-weight: bold;
  font-size: 1.35rem;
  max-height: fit-content;
  height: 100%;
}

.cards-team-container > div:nth-child(2n) {
  background-color: #3D4C47;
  margin-top: -50px;
  margin-bottom: 5%;
}

.cards-team-container > div:nth-child(2n + 1) {
  background-color: #3D4C47;
  margin-top: 5%;
  margin-bottom: -50px;
}

.teamater-contact a {
  color: white;
  font-size: 1.5rem;
  margin: 5px;
  transition: all 0.3s ease;
}

.teamater-contact i:hover {
  color:#af480c ;
}

.overlay {
  width: 85%;
  height: 80%;
  transition: all 0.2s ease;
  opacity: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
}

.overlay p{
  font-size: 1rem;
  font-weight: 600;
  display: flex;
}

.card-teammate:hover img {
  opacity: 0.1;
}

.card-teammate:hover .overlay {
  opacity: 1;
}


/* Adaptable responsivo */

/* ESCITORIO NORMAL */
@media (min-width:991px){
  .info-container {
    margin: 0px 40px;
  }

  .info-container h1 {
    font-size: 2.3rem;
  }

  .info-container p {
    font-size:1.1rem;
    margin-bottom: 40px;
  }

  .cards-team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .overlay p{
    font-size: 0.85rem;
  }

}

/* Escritorios anchos */
@media (min-width: 1200px) {
  .info-container h1 {
    font-size: 45px;
  }

  .info-container p {
    font-size:17px;
  }
  
  .overlay p {
    font-size: 0.98rem;
  }
}

/* MOBILE */
@media screen and (max-width:767px) {
  .cards-team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    height: 100%;

  }

  .cards-team-container .card-teammate {
    max-width: 400px;
  }

  .cards-team-container > div:nth-child(2n) {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .cards-team-container > div:nth-child(2n + 1) {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

/* TABLET */
@media (min-width:767px) and (max-width: 991px) {
  .cards-team-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  .cards-team-container > div:nth-child(2n) {
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: 30px;
  }
  .cards-team-container > div:nth-child(2n + 1) {
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: 30px;
  }
} 