.body-nosotros{
  background-color: #dce1deff;;
}

/* Contenedor informacion */
.contenedor-nosotros-imagen-header {
  position: relative;
  height: 60vh; 
  overflow: hidden;
}

.contenedor-nosotros-imagen-header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%; 
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7) 70%, rgba(0, 0, 0, 0) 100%);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: white;
  padding: 20px;
  box-sizing: border-box;
  text-align: left;
}

.info-container {
  max-width: 450px; 
}

.title-info-container {
  font-size: 23px;
  margin-bottom: 15px;
  padding-top: 150px;
}

.info-container p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}


/* CONTENEDOR MISION, VISION Y VALORES */
.contenedor-nosotros-masinfo {
  display: flex;
  flex-direction: column;
  background-color: #143e3e;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.contenedor-nosotros-vision{
  background-color:rgb(126, 162, 130);
}

.contenedor-nosotros-masinfo > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 50px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden; 
}

.contenedor-nosotros-masinfo > div::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(220, 225, 222, 0.252); 
  transition: left 1s ease-in-out; 
}

.contenedor-nosotros-masinfo > div:hover::before {
  left: 0;
}

.contenedor-nosotros-titulo {
  flex: 1;
  max-width: 300px;
}

.contenedor-nosotros-titulo h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.contenedor-nosotros-parrafo {
  flex: 2;
  min-width: 300px;
}

.contenedor-nosotros-parrafo p {
  font-size: 16px;
  line-height: 1.6;
}


/* CONFIGURACION EQUIPO*/
.container-equipo-devs{
  background-color: #dce1deff;
}
.container-equipo-devs h1{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 20px 50px;
}

.cards-team-container {
  display: flex;
  background-color: #dce1deff;
  padding: 25px 100px ;
  color: white;
  text-align: center;
}

.card-teammate {
  text-align: center;
  max-width: 200px; 
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.card-teammate:hover {
  transform: translateY(-10px); /* Efecto de levantamiento al hacer hover */
}

.card-teammate .imgcontainer {
  height: 300px;
  min-height: 380px;
  position: relative;
}

.card-teammate .imgcontainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cards-team-container .card-teammate {
  color: white;
  font-weight: 600;
  font-size: 1.1rem;
  max-height: fit-content;
  height: 100%;
}

.cards-team-container > div {
  background-color: #315656;
}

.teamater-contact a {
  color: white;
  font-size: 1.4rem;
  margin: 5px;
  transition: all 0.3s ease;
}

.teamater-contact i:hover {
  color: #af480c;
}

.card-teammate .overlay {
  width: 90%;
  height: 80%;
  transition: all 0.2s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-teammate .overlay p {
  font-size: 0.85rem;
  font-weight: 600;
  display: flex;
}

.card-teammate:hover img {
  opacity: 0.1;
}

.card-teammate:hover .overlay {
  opacity: 1;
}

/* Adaptable responsivo */

/* ESCITORIO NORMAL */
@media (min-width: 991px) {
  .info-container {
    margin: 0px 40px;
  }

  .info-container h1 {
    font-size: 2.2rem;
  }

  .info-container p {
    font-size: 1.1rem;
    margin-bottom: 40px;
  }

  .cards-team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .card-teammate .overlay p {
    font-size: 0.75rem;
  }
}

/* Escritorios anchos */
@media (min-width: 1200px) {
  .info-container h1 {
    font-size: 45px;
  }

  .info-container p {
    font-size: 17px;
  }

  .card-teammate .overlay p {
    font-size: 1rem;
  }
}

/* MOBILE */
@media screen and (max-width: 767px) {

  .contenedor-nosotros-imagen-header {
    position: relative;
    height: 100vh; 
    overflow: hidden;
  }
  
  .nosotros-container {
    margin-top: 60px;
  }

  .info-container p{
    font-size: 16px;
  }

  .cards-team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
    height: 100%;
  }

  .cards-team-container .card-teammate {
    max-width: 500px;
  }

  .card-teammate .imgcontainer {
    min-height: 200px;
  }

  .contenedor-nosotros-masinfo > div {
    padding: 30px 15px;
  }
  
  
.contenedor-nosotros-titulo {
  padding-right: 10px;
}

.contenedor-nosotros-titulo h1 {
  font-size: 18px;
  padding-right: 10px;
}


.contenedor-nosotros-parrafo p {
  font-size: 14px;
  padding-right: 50px;
}
.info-container p {
  font-size: 16px;
}

.card-teammate .overlay p {
  font-size: 0.75rem;
}
}

/* TABLET */
@media (min-width: 767px) and (max-width: 991px) {
  .nosotros-container {
    margin-top: 60px;
  }

  .cards-team-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .info-container p {
    font-size: 22px;
  }


  .cards-team-container > div:nth-child(2n) {
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: 30px;
  }
  .cards-team-container > div:nth-child(2n + 1) {
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: 30px;
  }
}
