:root {
  --caribbean-current: #143e3e;
  --jungle-green: #49a078ff;
  --cambridge-blue: #9cc5a1ff;
  --ut-orange: #ff8811ff;
  --platinum: #dce1deff;
}

.filtro {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 60px;
  cursor: pointer;
}

.lista-subcategorias {
  margin: 0;
  padding: 0;
  width: 90%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 1px solid var(--ut-orange);
}

.lista-subcategorias li {
  margin: 15px;
  font-size: 1.1rem;
  color: var(--jungle-green);
  list-style-type: none;
  padding: 0;
}

.categoria {
  margin: 40px 80px;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(4, minmax(200px, 1fr)); /* 4 columnas con ancho mínimo de 200px */
  gap: 20px;
}

.contenedor-producto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid rgba(0, 0, 0, 0.336);
  margin-bottom: 5%;
  cursor: pointer;
  height: 100%;
}

.header-producto {
  padding: 10% 5% 0 5%;
  color: var(--caribbean-current);
}

.nombre-producto{
  font-size: 1.2rem;
}

.contenedor-img-producto {
  width: 100%;
  height: 300px;
}

.contenedor-img-producto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contenedor-addCart button {
  width: 100%;
  height: 50px;
  border: none;
  color: var(--caribbean-current);
  background-color: var(--cambridge-blue);
  font-weight: 550;
  font-size: 1rem;
}

.contenedor-addCart button:hover {
  color: var(--platinum);
  background-color: var(--ut-orange);
}

/* RESPONSIVE */

@media (max-width: 768px) {
  .lista-subcategorias {
    flex-direction: column;
    align-items: center;
  }

  .lista-subcategorias li {
    margin: 10px 0;
  }

  .categoria {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}

@media (max-width: 480px) {
  .filtro {
    flex-direction: column;
  }

  .contenedor-img-producto {
    height: 250px;
  }

  .contenedor-addCart button {
    height: 40px;
  }
}

/* MOBILE & TABLET */
@media screen and (width<=991px) {
  #contenedor-categoria {
    margin-top: 80px;
  }
}

/* MOBILE */
@media screen and (max-width: 767px) {
  .contenedor-img-producto {
    height: 200px;
  }
  .nombre-producto{
    font-size: 20px;
  }
  .lista-subcategorias {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .lista-subcategorias li {
    font-size: 1rem;
  }

  .categoria {
    margin: 40px 80px;
    grid-template-columns: repeat(1, minmax(300px, 1fr));
  }
  
}


/* TABLET */
@media (min-width: 767px) and (max-width: 991px) {
  .categoria {
    margin: 40px 40px 100px ;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
  }
  .contenedor-img-producto {
    height: 250px;
  }

  .contenedor-addCart button {
    height: 40px;
  }
}
