:root {
  --caribbean-current: #143e3e;
  --jungle-green: #49a078ff;
  --cambridge-blue: #9cc5a1ff;
  --ut-orange: #ff8811ff;
  --platinum: #dce1deff;
}

.modal2 {
  position: fixed;
  height: 100vh;
  padding-top: 5%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(20, 62, 62, 50%);
  display: flex;
}

.modalContainer {
  width: 90%;
  background-color: var(--caribbean-current);
  margin: auto;
  max-width: 400px;
  max-height: 90%;
  border-radius: 6px;
  padding: 30px 10px 15px 10px;
  display: grid;
  gap: 1em;
  place-items: center;
  grid-auto-columns: 100%;
}

.modal2 .modalContainer .imgModal img {
  width: 70px;
}

.modal2 .modalContainer h2 {
  color: var(--ut-orange);
  font-size: 35px;
}

.modal2 .modalContainer p {
  font-size: 15px;
  margin-bottom: 20px;
  color: wheat;
}

/* Animación  */

.modal2 .modalContainer .formRegistro .registroGroup label {
  font-size: 1rem;
  color: var(--jungle-green);
}

.modal2 .modalContainer .formRegistro .registroGroup input,
textarea {
  width: 100%;
  padding: 0.1em;
  color: var(--platinum);
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #9cc5a1;
  outline: none;
}

/* Clase error */

.modal2 .modalContainer .formRegistro .registroGroup .error {
  border-bottom: 2px solid var(--ut-orange);
}

.modal2 .modalContainer .formRegistro .registroGroup {
  position: relative;
  top: -30px;
  margin-bottom: 20px;
}

.modal2 .modalContainer .modalContinuar {
  text-decoration: none;
  color: aliceblue;
  font-size: 14px;
  font-weight: 500;
  background-color: var(--ut-orange);
  padding: 10px 85px;
  border-radius: 20px;
  position: relative;
  left: 13%;
  border: none;
}

.modal2 .modalContainer .yaRegistrado a {
  text-decoration: none;
  color: var(--ut-orange);
}
.modal2 .modalContainer .yaRegistrado p {
  margin-bottom: 30px;
}
